body {
    background-color: #a4a4a4;
    color: #333;
}
.header {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    background-color: #384ef5;
    color: white;
}
.main_idea {
    font-weight: bold;
}
canvas {
    border: 1px solid black;
    margin: auto;
    display: block;
    background-color: #000000;
}